body {
  margin: 0;
  touch-action: none;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

* {
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.container {
  height: 100vh;
}

.fader {
  display: flex;
  height: 35vh;
}

.fader>div {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.fader>div>.position {
  position: absolute;
  height: 100%;
  width: 2px;
  display: none;
  z-index: 999;
  transform: translateX(-1px);
}

.fader>div>.position.visible {
  display: block;
}

.fader #left {
  background: linear-gradient(to right, rgba(69, 233, 123, 0.8), rgba(69, 233, 123, 0.4));
}

.fader #left .position {
  background-color: rgba(0, 255, 0);
}

.fader #right {
  background: linear-gradient(to left, rgba(218, 69, 216, 0.8), rgba(218, 69, 216, 0.4));
}

.fader #right .position {
  background-color: rgba(255, 0, 255);
}

.lane {
  display: flex;
  background-color: #000;
  height: 65vh;
}

.lane>div {
  width: calc(100vw / 12);
  color: #fff;
}

.lane>div:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.lane>div.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.status {
  background-color: #000;
  color: #ccc;
  border: 1px solid rgba(255, 255, 255, 0.2);

  font-size: 12px;
  line-height: 24px;
  display: flex;
}

.status>div {
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#errors {
  position: absolute;
  top: 24px;
  left: 0;
  width: 100vw;
  height: calc(100vh-24px);
  color: #aa0000;
  font-family: monospace;
  z-index: 99999;
}
